<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>MyMeds Information</title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
</head>
<body>
<div style="border border: 1pt 1pt 1pt 1pt; border-style:solid;">
<dl>
<dt style="text-align:center;">You have indicated that this patient is eligible, please ask if the patient is interested in learning more about the MyMeds Study:</dt>
<br/><br/>

<dd>&quot;I have started you with this new medication for your blood pressure. It is really important to make sure that it works for you and is not producing bad side effects. Our clinic pharmacist can monitor this online if you are interested. It is called the MyMeds Study which is being done by a group of researchers at McMaster University. Would you be interested in learning a bit more about it?&quot;</dd>
</dl>
<br/>
<div style="text-align: center;"> If the patient AGREES, please direct them to clinic reception.</div>
</div>
<div  style="text-align: center;">
<form>
<input type="button" Value="OK" onclick="window.close();"/>
</form>
</div>
</body>
</html>