<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>calendar test</title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="calendar-system.css" />
    <script type="text/javascript" src="calendar.js"></script>
    <script type="text/javascript" src="lang/calendar-en.js" ></script>

    <script type="text/javascript" src="calendar-setup.js"></script>
    <script type="text/javascript" src="calendar-handler.js"></script>
  </head>
  <body>
    <form action="#" method="get">
        <div>
            <input type="hidden" id="f_date" name="date" />
            <button type="reset" class="submit button" id="f_date_trigger">...</button>

            <span id="f_date_show">click the button for a calendar</span>
        </div>
    </form>
  </body>
</html>
