<!-- <?xml version="1.0" encoding="UTF-8"?> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"DTD/xhtml1-strict.dtd">
<html>
<head>
<title></title>
<script src="<%=request.getContextPath()%>/JavaScriptServlet" type="text/javascript"></script>
<script type="text/javascript">
			function init(){
				document.designMode = 'on';
				try{
					parentPageDomain = document.location.href.split('#')[1];
					if(parentPageDomain){
						document.domain = parentPageDomain;
					}
				}catch(e){ }
			}
			window.onload = init;
		</script>
</head>
<body>
<br />
</body>
</html>
