/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */ /* styles.css -- Style sheet for the UI prototype.

	Colours used:
		#A9A9A9 = darkgray
		#DCDCDC = gainsboro
		#F5F5F5 = whitesmoke
		#000000 = black
		#FF8C00 = darkorange
*/


#questionnaireContainer .questionContainer{
	padding: 20px 20px 20px 20px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 5px;
}

.instruction {
	padding: 20px 20px 0px 20px;
}

input[type="button"] {
	padding: 4px 12px;
}

