<!--
/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */
-->
<script>
    function validateServiceOrderForForm() {
        var valid = true;
        var errors = [];

        var billingFormGroups = document.form1.getElementsByClassName("billingFormGroup");

        for (var f = 0; f < (billingFormGroups.size()); f++){
            var groupNo =  f + 1;
            var numberOfServicesInGroup = (document.querySelectorAll("input[name^='group" + groupNo  + "_service']").length / 2);

            for (var i = 0; i < numberOfServicesInGroup; i++) {
                var service = document.form1['group' + groupNo + '_service' + i].value;
                var serviceOrder = document.form1['group' + groupNo + '_service' + i + "_order"].value;
                if(service) {
                    if (!serviceOrder) {
                        valid = false;
                        errors.push("Missing service order for service " + document.form1['group' + groupNo + '_service' + i].value + " in group " + groupNo);
                    } else if (isNaN(serviceOrder)) {
                        valid = false;
                        errors.push("Invalid service order value for service " + document.form1['group' + groupNo + '_service' + i].value + " in group " + groupNo +
                            "\n Service order value must be a number.");
                    }
                }
            }
        }

        if (!valid) {
            alert(errors.join("\n"));
        }

        return valid;
    }
</script>
<form method="post" name="form1"
	action="dbManageBillingform_service.jsp" onsubmit="return validateServiceOrderForForm();">
<table width="75%" border="0" cellpadding="3" bgcolor="#9999CC">
	<tr>



		<%
for (int i=1;i<4;i++){
 

  String[] param2 =new String[10];
  
    String[] service_code = new String[20];
    String[] service_order = new String[20];

  for(int j=0; j<20;j++){
  service_code[j] = "";
  service_order[j] = "";
  }

  List<CtlBillingService> results = ctlBillingServiceDao.findByServiceGroupAndServiceTypeId("Group"+i,request.getParameter("billingform"));
int rCount = 0;
  boolean bodd=false;


  String servicetype_name="";
  if(results==null) {
   out.println("failed!!!");
  } else {
  %>
		<%
    for (CtlBillingService result:results) {

      bodd=bodd?false:true; //for the color of rows
      
      service_name = result.getServiceTypeName();
      if(rCount < 20) {
      service_code[rCount] = result.getServiceCode();
       service_order[rCount] = String.valueOf(result.getServiceOrder());
       servicetype_name = result.getServiceGroupName();
       
      }
      rCount = rCount + 1;
   }
  }
  %>
		<td>
		<table width="100%" border="0">
			<tr>
				<td><input type="text" class="billingFormGroup" name="group<%=i%>"
					value="<%=servicetype_name%>" size="20"
					style="font-size: 8pt; text-align: right; vertical-align: bottom"></td>
			</tr>
			<% for(int k=0; k<20;k++){ %>
			<tr>
				<td><input type="text" name="group<%=i%>_service<%=k%>"
					value="<%=service_code[k]%>" size="10"
					style="font-size: 8pt; text-align: right; vertical-align: bottom"><input
					type="text" name="group<%=i%>_service<%=k%>_order"
					value="<%=service_order[k]%>" size="5"
					style="font-size: 8pt; text-align: right; vertical-align: bottom"></td>
			</tr>
			<% } %>
		</table>
		</td>
		<%  }

%>


	</tr>
	<tr>
		<td colspan="3"><input type="submit" name="submit"
			value="<bean:message key="billing.manageBillingform_service.btnUpdate"/>"><input
			type="hidden" name="typeid"
			value="<%=request.getParameter("billingform")%>"><input
			type="hidden" name="type" value="<%=service_name%>"></td>
	</tr>
</table>
</form>
