body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

#framecontent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 190px; /*Width of frame div*/
    height: 100%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background: navy;
    color: white;
}

#maincontent{
    position: fixed;
    top: 0;
    left: 190px; /*Set left value to WidthOfFrameDiv*/
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
}

.innertube{
    margin: 5px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
    padding: 0 0 0 200px; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
    height: 100%;
    width: 100%;
}

.fg-menu{
    overflow:scroll;
    overflow-x: hidden;
    max-height:400px;
}

.ui-widget-overlay
{
    background: #000;
    opacity: .7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
}