#helpHtml{
position: absolute;
display:none;
top:18px;
right:-280px;
z-index:1500;
height:500px;
width:280px;
background-color:#fff; 
border: 0; 
font-family: 'Arial', verdana;
font-size:14px;
font-weight:normal !important;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	        
	/*-webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    -ms-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;*/
}

#help-link{
display:inline;
}

/*#help-link:hover  #helpHtml{
    right: 0;
}*/

.help-title{
position: absolute; top: 0;width:100%; height:40px;background-color:#486ebd;color:#fff;font-size:24px;text-align:left;
}

.help-body{
position: absolute; top: 44px;padding:10px; height:420px; width:90%; text-align:left;overflow-y:auto; overflow-x:hidden;
	color: black;
}
.help-body a:visited,.help-body a:link{
	color: black;
}
.help-body a:hover{
	color: #9f9f9f;
}


.help-close{
position: absolute; top: 0; right:2px; color:#fff;font-size:18px;text-align:right;font-weight:100
}

.help-close:hover{
color:#333;
}