body {
	font-family: Arial;
	color: #333;
}

.btn-primary {
  margin-left: 10px;
  margin-right: 5px;
  background-color: #53B848;
  border: 1px solid #259145;
}

.btn-primary:focus
{
    background-color: #53B848;
    color: #fff;
    border: 1px solid #259145;
}
  
.btn-primary:active
{
    background-color: #53B848;
    color: #fff;
    border: 1px solid #259145;
}

.btn-primary:active:focus
{
	background-color: #53B848;
    color: #fff;
    border: 1px solid #259145;
}

  
.btn-primary:hover 
{
  background-color: #38AF49;
  color: #fff;
  border-color: #259145;
  
}

.btn-primary:hover:active 
{
    background-color: #259145;
    color: #fff;
    border-color: #259145;
}

.btn-primary:active:hover 
{
    background-color: #259145;
    color: #fff;
    border-color: #259145;
}

.btn-secondary {
	background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
}

.btn-secondary:focus 
{
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
}
  
.btn-secondary:hover 
{
  background-color: #ddd;
  color: #333;
  border-color: #ccc;
  
}

.btn-secondary:hover:active 
{
    background-color: #ccc;
    color: #333;
    border-color: #ccc;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background-color: #53B848;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th
{
	background-color: #53B848;
}

.label-primary
{
	background-color: #53B848;
    color: #fff;
    border: 1px solid #259145;
}

.label-secondary
{
	background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
}

.nav-tabs li.active a 
{
	color: #000;
}

.nav-tabs li a 
{
	color: #000;
}

.badge
{
	background-color:  #fff;
	color: #53B848;
}

.nav-pills li.active a
{
	background-color: #53B848;
    border: 1px solid #259145;
}

.navbar-inverse
{
	color: #fff;
	background-color: #53B848;
	border: 1px solid #259145;
}

.navbar-inverse .navbar-brand
{
	color: #fff;
	background-color: #53B848;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #38AF49;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    background-color: #38AF49;
}

.navbar-inverse .navbar-nav>li>a:active:hover
{
    background-color: #38AF49;
}

.navbar-inverse .navbar-nav .active a
{	
	background-color: #259145;
}

.navbar-inverse .navbar-nav .active a:hover
{
    background-color: #38AF49;
}

.navbar-inverse .navbar-nav a:active,
.navbar-inverse .navbar-nav a:focus
{
    background-color: #259145;
}

.navbar-inverse .navbar-nav a:hover
{
    background-color: #38AF49;
}

.navbar-inverse .navbar-nav a:active
{
    background-color: #259145;
}

.navbar-inverse .navbar-nav li a
{
	color: #fff;
    background-color: #53B848;
}

.navbar-inverse .navbar-nav>li>.dropdown-menu 
{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #38AF49;
    border: 1px solid #259145;
}

.list-group-item.active
{
	background-color: #38AF49;
	border: 1px solid #259145;
}

.list-group-item.active:hover
{
	background-color: #259145;
	border: 1px solid #259145;
}

.panel-primary .panel-heading
{
	background-color: #38AF49;
	border: 1px solid #259145;
}

.panel-primary
{
	border: 1px solid #259145;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #53b848;
    background-image: -webkit-linear-gradient(45deg,
    rgba(37, 145, 69, .3) 25%,
    transparent 25%,
    transparent 50%,
    rgba(37, 145, 69, .3) 50%,
    rgba(37, 145, 69, .3) 75%,
    transparent 75%,
    transparent)

} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}

/**
Overwrite colours from OscarStandardLayout.css
 */
.MainTableTopRowLeftColumn {
    background-color: #259145;
}

.MainTableTopRowRightColumn {
    background-color: #259145;
    color: #ffffff;
}

.TopStatusBar {
    background-color: #259145;

    color: #ffffff;
}

.TopStatusBar a {
    color: #ffffff;
}

.TopStatusBarShort {
    background-color: #259145;
    color: #ffffff;
}