@CHARSET "UTF-8";

/* ##############   methadoneBillingBC.jsp  ############# */
body#methadoneBilling form {
	margin: 0px 10px;
}

body#methadoneBilling {
	font-size: 9pt;
	font-family: verdana, arial, helvetica;
	color: #000000;
}

body#methadoneBilling div {
	padding: 10px;
}

body#methadoneBilling div#inputList {
	background-color: white;
	margin: 0px 10px;
}

body#methadoneBilling div#heading {
	margin: 10px;
}

body#methadoneBilling ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body#methadoneBilling li {
	display: inline;
	margin: 10px 10px 0px 0px;
}

body#methadoneBilling table {
	width: 100%;
	border: #EEEEFF 1px solid;
	text-align: left;
	font-size: 9pt;
	font-family: verdana, arial, helvetica;
	color: #000000;
}

body#methadoneBilling table th {
	padding: 3px;
	color: blue;
}

body#methadoneBilling table td {
	padding: 3px;
	border: #EEEEFF 1px solid;
}

body#methadoneBilling #tableName {
	float: right;
	clear: both;
}

body#methadoneBilling #apeture {
	border-top: blue 2px solid;
	border-bottom: blue 2px solid;
}

body#methadoneBilling .errorStyle {
	border:1px red solid;
	color:red;
}

body#methadoneBilling div#saved { 
	color:green;
	font-weight:bold;
	border-bottom: blue 2px solid;
}
