/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
body td {
     font-weight:bold;
     font-family:"Arial";
}

u {
	text-decoration: none;
}

A.orange {
	text-decoration: none;
	font-weight: bold;
	color: #9966CC;
}

A.orange:Hover {
	text-decoration: none;
	color: #21773B;
}

A.black {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

A.black:Hover {
	text-decoration: none;
	color: #21773B;
}

A {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

A:Hover {
	text-decoration: none;
	color: #21773B;
}

.appt a {
	color: #333;
}

.appt a:hover {
	color: #9f9f9f;
}

input,select,textarea {
	font-size: 11px;
	background-color: #F4EaD7;
	border: 1px solid #0097cf;
}

td {
	font-family: "Arial";
	font-size: 12px;
}

hr {
	color: orange;
}

p {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
}

.adhour {
	font-family: "Arial";
	font-size: 12px;
	color: #000000;
}

.small {
	margin-top: 15px;
	margin-left: 100px;
	margin-right: 140px;
	font-family: "Arial Black";
	font-size: 9px;
	color: #00408f;
}

.Monthappt {
	font-family: "Arial Black";
	font-size: 8px;
	color: black;
}

.title {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

.text3 {
	background: ivory;
	font-size: 12px;
	font-family: "Arial";
}

.date {
	font-family: "Times New Roman";
	font-size: 16px;
	color: red;
	background: yellow;
}

.datepname {
	font-family: "Times New Roman";
	font-size: 12px;
	color: #6060ff;
}

.datepname:hover {
	color: #21773B;
}

.datephour {
	font-family: "Times New Roman";
	font-size: 12px;
	color: brown;
}

.datepreason {
	font-family: "Times New Roman";
	font-size: 12px;
	color: green;
}

.tabalert {
	color: rgb(255, 169, 5);;
}

#navlist{
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#navlist li {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: inline;
}

#navlist li:hover { color: #21773B;}
#navlist li a:hover { color: #21773B;}
#navlist #logoutMobile { display:none; }

.reason {
    margin-left: 2px;
    font-style: italic;
}

#providerSchedule, #providerSchedule tr {
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	border-spacing: 0;
	border-width:0 1px 1px 0px;
}

#providerSchedule td {
	padding:5px;
	border: 1px solid #dcdcdc;
	border-spacing: 0;
	border-width:0 1px 1px 0px;
}

#providerSchedule td.noGrid {
	border: 1px solid #dcdcdc;
	border-spacing: 0;
	border-width:0 1px 1px 0px;
}

.scheduleTime00, .scheduleTimeNot00{
    width:5%;
}
.scheduleTime00 { background-color: #dbdbdb; }
.scheduleTimeNot00 { 
	background-color: #ededed;
	border: 1px solid #dcdcdc;
}

#ivoryBar{
	background-color: #53B848;
}

#ivoryBar td {

}

.dropdown {
	display: inline-block !important;
	position: relative;
}

.dashboardDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dashboardDropdown a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	  padding:2px 5px;
}

.dropdown:hover .dashboardDropdown {
    display: block;
}

@media print {
 .noprint {display:none !important;}
}

#expandReason {
	color: #000	
}

.weekView {
	color:#000;
}

.alert-bar {
	background-color: #f44336;
	color: white;
	text-align:center;
}

.note-link-text {
	color:#333;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}

.header-div {
	z-index: 1002;
}

/* popup menu style for eligibility checks */
.menu {
	position: absolute;
	visibility: hidden;
	background-color: #6699cc;
	layer-background-color: #6699cc;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 3px;
	z-index: 10;
	font-size: 9px;
	width: 25em;
}