<div id="patient-search-entry" ng-if="!finished">
    <h2>Patient Search</h2>
    <form role="form" >
            
            <div class="form-group">
                <label>DOB:</label>
                <select name="Year" ng-model="dob.year" style="max-width: 120px">
                    <option selected disabled>Year</option>
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
                <select name="Month" ng-model="dob.month" style="max-width: 120px">
                    <option selected disabled>Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select name="Day" ng-model="dob.day" style="max-width: 120px">
                    <option selected disabled>Day</option>
                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hin">Health Card Number:</label>
                <input id="hin" type="text" maxlength="10" placeholder="10 Digit Number" class="form-control" ng-model="patient.hin" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="matchDemographic()">Search</button>
            </div>
    </form>
</div>

<div style="text-align: center" ng-hide="!finished">
    <iframe id="eformFrame" src="{{eformUrl}}" width="{{eformWidth}}" height="{{eformHeight}}"></iframe>
    <p ng-if="isIframeNotDisplayed()" style="margin-top:70px; white-space: pre; font-size: 3rem;">Thank you for filling out the intake form</p>
</div>
