﻿html {
    overflow: hidden;
    -ms-touch-action: none;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.container {
    width: 350px;
    margin: 50px auto;
    -webkit-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 30px darkgrey;
    box-shadow: 0 12px 30px darkgrey;
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}

.message {
    margin-top: 60px;
}

/* Add a tab container class, for a border around the entire tabset */
.nav-tabs-container {
    padding: 3px;
    border: 1px solid lightgray;
}

ui-grid {
    width: 100% !important;
}

.tab-button {
    margin-left: 10px;
    height: 16px;
    width: 16px;
    padding: 0px;
    padding-bottom: 2px;
    border-radius: 8px;
    border: 0px;
    text-align: center;
    font-size: 12px;
    color: #505050;
    background-color: rgba(255, 255, 255, 0);
}

.ui-layout-pane {
    padding: 0 !important;
    overflow: hidden !important;
}

.ui-layout-north {
    z-index: 3 !important;
    overflow: visible !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-y: scroll !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto;
    overflow: hidden;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}

#overalyCanvas {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 50;
}

#overlayCanvas {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 50;
}

.navbar .container-fluid, .navbar-collapse {
    padding-left: 0;
}

    .navbar-collapse.in {
        padding-left: 30px;
    }

.center, .east, .west, .north, .south {
    background-color: rgb(220,220,220);
    border: 1px solid rgb(200,200,200);
    text-align: center;
    display: inline-block;
}

.west, .east {
    width: 8%;
}

.south {
    height: 10%;
}

input.ng-invalid {
    border: 1px solid red;
}

#ltTabWrapper > ul > li {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    margin: 1px .2em 0 0;
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
}

    #ltTabWrapper > ul > li > a {
        margin-right: 0px;
        padding: .5em 1em;
    }

        #ltTabWrapper > ul > li > a,
        #ltTabWrapper > ul > li > a:link,
        #ltTabWrapper > ul > li > a:visited {
            color: #555;
            text-decoration: none;
        }

            #ltTabWrapper > ul > li > a:hover {
                color: #212121;
                text-decoration: none;
            }

    #ltTabWrapper > ul > li.active {
        border-bottom-color: #fff;
        margin-bottom: -1px;
        padding-bottom: 2px;
        border-bottom-width: 0;
        background-image: -moz-linear-gradient(bottom, #fff 2px, transparent 2px);
        background-image: -o-linear-gradient(bottom, #fff 2px, transparent 2px);
        background-image: -webkit-linear-gradient(bottom, #fff 2px, transparent 2px);
        background-image: linear-gradient(bottom, #fff 2px, transparent 2px);
    }

#ltTabWrapper > div {
    padding-top: 0px;
}

#ltTabWrapper > div {
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    margin-top: -1px;
    border-top: transparent;
}

.scroll {
    width: 1px;
    border: 2px solid black;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.slider {
    border: 1px solid blue;
    width: 11px;
    left: -6px;
    background-color: white;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    top: 0;
}

.timeLineTable {
    border-collapse: separate;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: absolute;
        transition: all 0.15s ease-out;
    }

    .row-offcanvas-left {
        left: -250px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        z-index: 20;
    }
}

.ui-jqgrid-bdiv {
    overflow-x: hidden !important;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

table {
    outline: 0 !important;
}

.tooltip {
    z-index: 5000 !important;
}

.modal.fade {
    overflow: hidden;
    height: 100%;
}

.vbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    /* current syntax */
  /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
     display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

/* items flex/expand horizontally */
.hbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.space-between {
    /* previous syntax */
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    box-pack: justify;
    /* current syntax */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.boxItem {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
   /* margin: 5px;
    border: solid 1px blue;*/
}

.tab-content > .active {
    display: flex;
}

.ui-grid-expandable-buttons-cell
{
    height: 100%;
}
