﻿.ToolBar
{
   height:25px;
   width:100%
}

.ToolBarButton
{
  display:block;
  width:25px;   
  height:25px;
  margin-right:5px;
  margin-bottom:5px;
}

.toolbargroup
{   
   float:left;
   border-right: 1px solid #C0C0C0;
}

.toolBarItem
{
margin-right:0px;
margin-top:0px;
   cursor:pointer;
   display:block;
   height:25px;
   width:25px;   
   float:left;

}

.toolBarDropDownItem
{
   margin-right:5px;
   margin-top:5px;
   cursor:pointer;
   display:block;
   height:13px;
   width:13px;   
   float:left;

}

.Tools
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -26px;
}
.Tools:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -130px;
}

.Annotations
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px 0;
}
.Annotations:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -104px;
}


.PreviousImage
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -52px;
}
.PreviousImage:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -156px;
}

.NextImage
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -26px;
}

.NextImage:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -130px;
}

.Pan
{
   /*display:block;*/
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -52px;
}
.Pan:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -156px;
}

.Zoom
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px 0;
}
.Zoom:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -104px;
}


.Magnify
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -78px;
}
.Magnify:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -78px;
}

.WindowLevel
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -26px;
}
.DisabledWindowLevel
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -182px;
}
.WindowLevel:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -130px;
}

.WindowLevelCustom
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -625px 0px;
}

.WindowLevelCustom:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -625px -26px; 
}

.DisabledWindowLevelCustom
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -625px -53px; 
   
}

.Stack
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -26px;
}

.DisabledStack
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -182px;
}
.Stack:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -130px;
}

.RotateClock
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px 0;
}
.RotateClock:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -104px;
}

.PopupCapture
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -400px -104px;
}
.PopupCapture:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -400px -130px;
}

.SecondaryCapture
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -130px;
}
.SecondaryCapture:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -156px;
}

.StudyTimeLine
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -130px;
}
.StudyTimeLine:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -156px;
}

.RotateCounterClock
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -78px;
}
.RotateCounterClock:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -182px;
}


.Flip
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 0;
}
.Flip:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 -104px;
}

.Reverse
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 -52px;
}
.Reverse:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 -156px;
}

.Invert
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 -52px;
}

.FitImage
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px 0;
}
.FitImage:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -104px;
}

.OneToOne
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -52px;
}

.OneToOne:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -156px;
}

.ZoomIn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px 0;
}
.ZoomIn:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -104px;
}

.ZoomOut
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px 0;
}
.ZoomOut:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -104px;
}


.ToggleTags
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -26px;
}
.ToggleTags:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -130px;
}

.ShowDicom
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px 0;
}
.ShowDicom:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -104px;
}

.Select
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -26px;
}
.DisableSelect
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -208px;
}
.Select:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -130px;
}

.Arrow
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -52px;
}
.DisableArrow
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -208px;
}
.Arrow:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -156px;
}

.Rectangle
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -52px;
}
.DisableRectangle
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -208px;
}
.Rectangle:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -156px;
}

.Ellipse
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px 0;
}
.DisableEllipse
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -182px;
}
.Ellipse:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -104px;
}

.Text
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -26px;
}
.DisableText
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -182px;
}
.Text:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -130px;
}

.Highlight
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -52px;
}
.DisableHighlight
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 0 -208px;
}
.Highlight:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -156px;
}

.Ruler
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -26px;
}
.DisableRuler
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -182px;
}
.Ruler:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -130px;
}

.PolyRuler
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -52px;
}
.DisablePolyRuler
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -182px;
}
.PolyRuler:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -156px;
}

.Protractor
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -52px;
   
}
.DisableProtractor
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -182px;
   
}
.Protractor:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -156px;
}

.DeleteAnn
{
   display:block;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -78px;   
}

.DeleteAnn:hover
{
   display:block;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -78px;   
}

.DisableDeleteAnn
{
   display:block;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -208px;   
}

.CalibrateRulerAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -78px;   
}
.CalibrateRulerAnn:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -78px;   
}
.DisabledCalibrateRulerAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -208px;   
}


.SaveAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px 0;
}
.SaveAnn:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -78px;
}
.DisabledSaveAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -182px;
}

.LoadAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -26px;
}
.LoadAnn:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -78px;
}
.DisabledLoadAnn
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -200px -208px;
}



.CinePlayer
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -52px;   
}
.CinePlayer:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -104px;   
}
.DisabledCinePlayer
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -225px -208px;   
}


.PlayButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -52px;
   border: solid 1px white;
 
}

.StopButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -52px;
   border: solid 1px white;
 
}

.DisabledPlayButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -300px -52px;
   border: solid 1px white;
 
}

.DisabledStopButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -52px;
   border: solid 1px white;
 
}

.PlayButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -52px;
   border: solid 1px black;
}

.StopButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -52px;
   border:solid 1px black;
}

.FirstFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px 0px;
   border: solid 1px white;
 
}
.DisabledFirstFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -300px 0px;
   border: solid 1px white;
 
}
.FirstFrameButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px 0px;
   border:solid 1px black;
}

.LastFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px 0px;
   border: solid 1px white;
 
}
.DisabledLastFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px 0px;
   border: solid 1px white;
 
}
.LastFrameButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px 0px;
   border:solid 1px black;
}

.NextFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -26px;
   border: solid 1px white;
 
}
.DisabledNextFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -26px;
   border: solid 1px white;
 
}
.NextFrameButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -26px;
   border:solid 1px black;
}

.PreviousFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -26px;
   border: solid 1px white;
 
}
.DisabledPreviousFrameButton
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -300px -26px;
   border: solid 1px white;
 
}
.PreviousFrameButton:hover
{
   display:block;
   right:0;
   z-index:100;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -26px;
   border:solid 1px black;
}

.InvertColor
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -425px -104px;
}                                                          
.InvertColor:hover                                         
{                                                          
   display:block;                                          
   width:25px;                                             
   height:25px;                                            
   background:url(../images/viewer/small-sprite-sheet.png) -425px -130px;
}                                                          
.DisabledInvertColor                                       
{                                                          
   display:block;                                          
   width:25px;                                             
   height:25px;                                            
   background:url(../images/viewer/small-sprite-sheet.png) -425px -156px;
}

.Line
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -104px;
}                                                                 
.Line:hover                                                       
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -325px -130px;
}                                                                 
.DisableLine                                                      
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -325px -156px;
}

.WaveformBasicAudio
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -182px;
}                                                                 
.WaveformBasicAudio:hover                                                       
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -350px -182px;
}                                                                 
.DisableWaveformBasicAudio
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -375px -182px;
}

.Curve
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -375px -104px;
}                                                          
.Curve:hover                                               
{                                                          
   display:block;                                          
   width:25px;                                             
   height:25px;                                            
   background:url(../images/viewer/small-sprite-sheet.png) -375px -130px;
}                                                          
.DisableCurve                                              
{                                                          
   display:block;                                          
   width:25px;                                             
   height:25px;                                            
   background:url(../images/viewer/small-sprite-sheet.png) -375px -156px;
}

.Freehand
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -300px -104px;
}                                                                 
.Freehand:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -300px -130px;
}                                                                 
.DisableFreehand                                                  
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -300px -156px;
}

.ReloadAll
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -350px -0px;
}                                                                 
.ReloadAll:hover                                                     
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -375px -26px;
}                                                                 
.DisabledReloadAll                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -350px -78px;
}

.ShowHide
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -350px -104px;
}                                                                 
.ShowHide:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -350px -130px;
}                                                                 
.DisabledShowHide                                                 
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -350px -154px;
}

.StudyLayout
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -208px;
}

.StudyLayout:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -234px;
}


.SeriesLayout
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -350px -208px;
}

.SeriesLayout:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -350px -234px;
}

.DeleteCell
{
   display:block;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -78px;   
}


.DeleteCell:hover
{
   display:block;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -78px;   
}

.Linked
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -425px -208px;
}
.Linked:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -425px -234px;
}
.UnLinked
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -208px;
}
.UnLinked:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -234px;
}



.BrightnessContrast
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -350px -26px;
}                                                                 
.BrightnessContrast:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -375px -52px;
}                                                                 
.DisabledBrightnessContrast                                              
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -350px -52px;
}

.HSL
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -400px -0px;
}                                                                 
.HSL:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -425px -26px;
}                                                                 
.DisabledHSL                                            
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -400px -78px;
}

.CustomLayout
{
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -234px;
}




.Cells3Triangle
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -0px;
}

.Cells3HShape
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -26px;
}

.Cells4Lozenge
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -52px;
}

.Cells4Columns2
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -78px;
}

.Cells4Rows3
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -104px;
}


.Cells6
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -130px;
}

.Cells3Rows2
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -156px;
}

.Cells5Columns3
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -450px -182px;
}


.TrueSizeDisplay
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -325px -78px;
}
.TrueSizeDisplay:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -78px;
}

.Clear
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -425px -0px;
}                                                                 
.Clear:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -400px -52px;
}                                                                 
.DisabledClear                                            
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -425px -52px;
}

.ClearAll
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -375px -0px;
}                                                                 
.ClearAll:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -400px -26px;
}                                                                 
.DisabledClearAll                                           
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -375px -78px;
}

.Reload
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -104px;
}                                                                 
.Reload:hover                                                     
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -275px -130px;
}                                                                 
.DisabledReload                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -275px -156px;
}

.DisablePanPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -0px -260px;
}

.PanPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -0px -234px;
}

.DisableZoomPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -260px;
}


.ZoomPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -25px -234px;
}

.DisableMagnifyPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -260px;
}


.MagnifyPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -50px -234px;
}

.WindowLevelPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -234px;
}
.DisabelWindowLevelPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -75px -260px;   
}

.StackPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -234px;
}

.DisableStackPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -100px -260px;
}

.FMX20
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -300px -208px;
}

.FMX18
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -275px -208px;
}

.StretchHistogram
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -250px -208px;
}                                                                 
.StretchHistogram:hover                                                   
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -250px -234px;
}                                                                 
.DisabledStretchHistogram                                           
{                                                                 
   display:block;                                                 
   width:25px;                                                    
   height:25px;                                                   
   background:url(../images/viewer/small-sprite-sheet.png) -250px -260px;
}

.ReferenceLine
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -375px -208px;
}

.ShowFirstLast
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -400px -208px;
}

.Synchronization
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -475px -208px;
}

.Synchronization:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -475px -234px;
}
.ReferenceLinePressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -125px -260px;
}

.ShowFirstLastPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -150px -260px;
}

.EnabledSynchronization
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -175px -260px;
}

.Export
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -600px -104px;
}
.Export:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -234px;
}

.EnabledExport
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -104px;
}

.DisabledExport
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -574px -261px; 
}

.Spyglass
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -26px; 
}
.Spyglass:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -156px;
}

.DisabledSpyglass
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -575px -182px;  
}

.SpyglassWindowLevel
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -1px;  
}
.SpyglassWindowLevel:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -156px;
}

.DisabledSpyglassWindowLevel
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -576px -156px;
}

.SpyglassInvert
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -52px; 
}
.SpyglassInvert:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -182px;
}

.DisabledSpyglassInvert
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -576px -208px; 
}

.SpyglassCLAHE
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -78px;  
}
.SpyglassCLAHE:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -600px -208px;  
}

.DisabledSpyglassCLAHE
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -575px -234px; 
}

.Cursor3D:hover
{
   display:block;
   width:50px;
   height:50px;
   background:url(../images/viewer/small-sprite-sheet.png) -650px -208px;
}

.Cursor3D
{
   display:block;
   width:50px;
   height:50px;
   background:url(../images/viewer/small-sprite-sheet.png) -649px -182px; 
}

.DisabledCursor3D
{
   display:block;
   width:50px;
   height:50px;
   background:url(../images/viewer/small-sprite-sheet.png)  -650px -234px;
}

 .Print
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -525px -235px; 
}
.Print:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -550px -234px; 
}

.DisabledPrint
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -524px -260px;  
}

.Polyline
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -525px 0px; 
}

.Polyline:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -526px -104px; 
}

.DisabledPolyline
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -501px -208px; 
}

.Polygon
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -525px -25px; 
}

.Polygon:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) 525px -131px; 
}

.DisabledPolygon
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -500px -233px; 
}

.Point
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -526px -52px; 
}

.Point:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -526px -156px; 
}

.DisabledPoint
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -500px -260px; 
}

.Note
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -525px -77px; 
}

.Note:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -525px -182px; 
}

.DisabledNote
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -525px -208px; 
}

.Perio
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -549px -52px;
}

.Perio:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -550px -130px;
}

.PerioPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -49px -287px;
}

.Dentin
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  -550px 0px; 
}

.Dentin:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -550px -78px; 
}

.DentinPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png)  0px -287px;
}

.Endo
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -550px -26px; 
}

.Endo:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -550px -104px; 
}

.EndoPressed
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -24px -286px;  
}

.PrintCurrentView
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -650px -260px; 
}

.PrintCurrentView:hover
{
   display:block;
   width:25px;
   height:25px;
   background:url(../images/viewer/small-sprite-sheet.png) -650px -286px;
}

.DisabledPrintCurrentView
{
   display:block;
   width:25px;
   height:25px;
   
   background:url(../images/viewer/small-sprite-sheet.png) -624px -286px; 
}


.btn-toolbar
{
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   background-color: #808080;
}

button.toolbar-button
{
   width:25px !important;
   height:25px !important;
   border-radius: 0 !important;
   padding: 0px;
}

.btn-group>.btn+.dropdown-toggle {
width: 12px !important;
}

.open>.dropdown-menu {
overflow: visible;
}

.btn-group>.dropdown-menu {
max-height: 1000px;
min-width: 44px;
overflow-y: auto !important;
overflow-x: hidden;
list-style: none;
}

.btn-group>.dropdown-menu>li>a {   
   padding: 3px 3px;
   width: 25px;
   height: 25px;
}

.btn.btn-disabled {
    pointer-events: auto;
}

.btn-group>.btn+.dropdown-toggle {
padding-left: 0px !important;
padding-right: 0px !important;
}

.scroll-parent {
    font-size: 0px;
    height: 100%;
    color: #676767;
}

.scroll-body, .scroll-button, .scroll-button * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .scroll-button .fa {
        height: 20px;
        width: 20px;
        text-align: center;
        position: relative;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
    }

.scroll-body, .scroll-button {
    display: inline-block;
    height: 100%;
    font-size: 14px;
    vertical-align: top;
    position: relative;
    user-select: none;
}

.scroll-body {
    position: relative;
    width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
}

    .scroll-body::-webkit-scrollbar {
        display: none;
    }

.scroll-button {
    width: 25px;
    background-color: #e2e2e2;
    cursor: pointer;
    cursor: hand;
}

.scroll-button-left {
    border-right: 1px solid #676767;
}

.scroll-button-right {
    border-left: 1px solid #676767;
}



.scroll-button:hover {
    background-color: #cccccc;
}

.scroll-button:active {
    box-shadow: #676767 1px 1px 10px 0px inset;
    background-color: #cccccc;
}

.scroll-body-inner {
    height: 100%;
    width: auto;
    position: absolute;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.scroll-button.scroll-button-disabled {
    cursor: default;
    color: #e8e8e8;
    background-color: #e2e2e2;
}

.scroll-button.scroll-button-disabled:hover {
    cursor: default;
    color: #e8e8e8;
    background-color: #e2e2e2;
}

.scroll-button.scroll-button-disabled:active {
    cursor: default;
    color: #e8e8e8;
    box-shadow: none;
}


.scroll-body-inner > * {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}


